.btn-outline-celeste {
    color: #015473;
    border: 2px solid #015473;
}

.btn-outline-celeste:hover {
    color: white;
    background-color: #015473;
    border-color: #015473;
    border: 2px solid;
}

.btn-azul-claro {
    color: white;
    background-color: #0f6f95;
}

.btn-azul-claro:hover {
    color: white;
    background-color: #015473;
}

.btn-azul-medio {
    color: white;
    background-color: #015473;
}

.btn-azul-medio:hover {
    color: white;
    background-color: #08374a;
}

.btn-azul-oscuro {
    color: white;
    background-color: #08374a;
}

.btn-azul-oscuro:hover {
    color: white;
    background-color: #052938;
}

.btn-celeste {
    color: white;
    background-color: #00A2C9;
}

.btn-celeste:hover {
    color: white;
    background-color: #015473;
}

.btn-blanco {
    color: #015473;
    background-color: white;
}

.btn-blanco:hover {
    color: white;
    background-color: #00A2C9;
}

.colores {
    /* azul */
    color: #015473;
    /* celeste */
    color: #00A2C9;
    /* verde-agua */
    color: #4EA5B0;
    /* celeste-claro */
    color: #8FD0E0;
    /* gris-azulado */
    color: #59707B;
    /* gris */
    color: #97A4A3;
}