.btn-outline-celeste {
    color: #0C5674;
    border-color: #0C5674;
    border: 2px solid;
}

.btn-outline-celeste:hover {
    color: white;
    background-color: #0C5674;
    border-color: #0C5674;
    border: 1px;
}

.btn-azul-claro {
    color: white;
    background-color: #0f6f95;
}

.btn-azul-claro:hover {
    color: white;
    background-color: #0C5674;
}

.btn-azul-medio {
    color: white;
    background-color: #0C5674;
}

.btn-azul-medio:hover {
    color: white;
    background-color: #08374a;
}

.btn-azul-oscuro {
    color: white;
    background-color: #08374a;
}

.btn-azul-oscuro:hover {
    color: white;
    background-color: #052938;
}

.colores {
    /* azul */
    color: #0C5674;
    /* celeste */
    color: #2A9FC6;
    /* verde-agua */
    color: #4EA5B0;
    /* celeste-claro */
    color: #A7CEDD;
    /* gris-azulado */
    color: #59707B;
    /* gris */
    color: #97A4A3;
}