.banner--parallax {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.banner--img {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-concepto-big-data-conexion-red-wireframeshapes-abstracto-poligonal-linea-punto_90220-496.jpg?t=st=1647315299~exp=1647315899~hmac=de9e4383967f51623906a2ebd845f5d407f08a31322242591f579556cc5a3a3d&w=1060');
    background-position: center;
    background-size: cover;
    /* height: 90vh; */
    background-attachment: fixed;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .banner--img {
        height: 180vh;
        background-position-y: -20px;
    }
}

.bg-negro-opacidad {
    height: 100%;
    width: 100%;
    animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
    0% {
        background-color: rgba(0, 0, 0, 0.466);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.137);
    }
}


/* fondo colores */

.bg-section-hosting {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-red-empresarial-conexion-puntos-diseno-tecnologia_53876-160202.jpg?w=996&t=st=1648250919~exp=1648251519~hmac=7b48679e06f228d2e3d6d765bfad3b5b5c72deaba33702de44c26d5f990d72b6');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-corporativo {
    background-image: url('../img/bg-fondoceleste.svg');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-hosting {
    background-image: url('../img/fondo-hosting.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-soporte {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-azul-tecnologia-datos-medios-remezclados-hacker_53876-108534.jpg?w=900&t=st=1647624274~exp=1647624874~hmac=74da65de931a4257580e8f642eb971cbcc34f425f5ddf09aeb3c05a85c99cd15');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 100%;
}

.bg-gris {
    background-color: #e9e9e9;
}

.bg-azul {
    background-color: #015473;
}

.bg-azul-claro {
    background-color: #0f6f95;
}

.bg-azul-medio {
    background-color: #015473;
}

.bg-azul-oscuro {
    background-color: #08374a;
}

.bg-negro-transparencia {
    background-color: rgba(0, 0, 0, 0.435);
}

.bg-negro-transparencia-soporte {
    background-color: rgba(0, 0, 0, 0.347);
}

.bg-blanco-transparencia {
    background-color: rgba(255, 255, 255, 0.653);
}

.bg-celeste {
    background-color: #00A2C9;
}

.bg-celeste-claro {
    background-color: #8FD0E0;
}