.text-shadow {
    text-shadow: 8px 8px 10px rgb(0, 0, 0);
}

.link-active {
    color: black;
    font-weight: bolder;
}

.link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: black;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.link:hover {
    color: #00A2C9;
    font-weight: bolder;
}


/* footer icon*/

.footer-icon {
    color: white;
}

.footer-icon:hover {
    color: #00A2C9;
}


/* hosting icon */

.icon-hosting {
    color: #015473;
}

.icon-soporte-dos {
    color: #015473;
}

.icon-soporte-dos:hover {
    color: #00A2C9;
}