.text-index {
    text-shadow: 8px 8px 10px rgb(0, 0, 0);
}

.link-active {
    color: black;
    font-weight: bolder;
}

.link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: black;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.link:hover {
    color: #2A9FC6;
    font-weight: bolder;
}


/* footer */

.footer-icon {
    color: #2A9FC6;
}

.footer-icon:hover {
    color: #0C5674;
}

.colores {
    /* azul */
    color: #0C5674;
    /* celeste */
    color: #2A9FC6;
    /* verde-agua */
    color: #4EA5B0;
    /* celeste-claro */
    color: #A7CEDD;
    /* gris-azulado */
    color: #59707B;
    /* gris */
    color: #97A4A3;
}


/* carousel */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    color: black!important;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%!important;
}